n8n/workflows/01-ai-lead-scoring/workflow.json
{
  "name": "AI Lead Scoring — Real Estate",
  "nodes": [
    {
      "id": "node-01",
      "name": "Webhook — Receive Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "re-lead-webhook-01"
    },
    {
      "id": "node-02",
      "name": "OpenAI — Score Lead",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a real estate lead scoring assistant. Score this lead from 1-10 based on purchase intent signals.\n\nLead data:\n- Name: {{ $json.body.name }}\n- Email: {{ $json.body.email }}\n- Budget: {{ $json.body.budget }}\n- Timeline: {{ $json.body.timeline }}\n- Property type: {{ $json.body.property_type }}\n- Message: {{ $json.body.message }}\n\nReturn ONLY valid JSON in this exact format:\n{\"score\": 8, \"priority\": \"hot\", \"reasoning\": \"High budget, short timeline\", \"recommended_action\": \"Call within 1 hour\"}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "node-03",
      "name": "Code — Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json.choices[0].message.content;\nlet parsed;\ntry {\n  parsed = JSON.parse(aiResponse);\n} catch(e) {\n  const match = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { score: 5, priority: 'warm', reasoning: 'Parse error', recommended_action: 'Manual review' };\n}\n\nreturn {\n  ...parsed,\n  original_lead: $input.item.json,\n  scored_at: new Date().toISOString()\n};"
      }
    },
    {
      "id": "node-04",
      "name": "IF — Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-01",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-05a",
      "name": "HubSpot — Create Hot Lead",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1200, 200],
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "additionalFields": {
          "lead_score__c": "={{ $json.score }}",
          "lead_priority__c": "={{ $json.priority }}",
          "lead_source": "Website Form",
          "hs_lead_status": "NEW"
        }
      },
      "credentials": {
        "hubspotApi": {
          "id": "2",
          "name": "HubSpot API"
        }
      }
    },
    {
      "id": "node-05b",
      "name": "HubSpot — Create Nurture Lead",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1200, 400],
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "additionalFields": {
          "lead_score__c": "={{ $json.score }}",
          "lead_priority__c": "={{ $json.priority }}",
          "lead_source": "Website Form",
          "hs_lead_status": "IN_PROGRESS"
        }
      },
      "credentials": {
        "hubspotApi": {
          "id": "2",
          "name": "HubSpot API"
        }
      }
    },
    {
      "id": "node-06",
      "name": "Slack — Alert Agent",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1440, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#hot-leads",
          "mode": "name"
        },
        "text": "=*HOT LEAD ALERT* — Score: {{ $('Code — Parse Score').item.json.score }}/10\n\n*Name:* {{ $('Webhook — Receive Lead').item.json.body.name }}\n*Email:* {{ $('Webhook — Receive Lead').item.json.body.email }}\n*Budget:* {{ $('Webhook — Receive Lead').item.json.body.budget }}\n*Timeline:* {{ $('Webhook — Receive Lead').item.json.body.timeline }}\n\n*AI Assessment:* {{ $('Code — Parse Score').item.json.reasoning }}\n*Recommended Action:* {{ $('Code — Parse Score').item.json.recommended_action }}",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack API"
        }
      }
    },
    {
      "id": "node-07",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\", \"score\": {{ $('Code — Parse Score').item.json.score }}, \"priority\": \"{{ $('Code — Parse Score').item.json.priority }}\" }"
      }
    }
  ],
  "connections": {
    "Webhook — Receive Lead": {
      "main": [[{"node": "OpenAI — Score Lead", "type": "main", "index": 0}]]
    },
    "OpenAI — Score Lead": {
      "main": [[{"node": "Code — Parse Score", "type": "main", "index": 0}]]
    },
    "Code — Parse Score": {
      "main": [[{"node": "IF — Hot Lead?", "type": "main", "index": 0}]]
    },
    "IF — Hot Lead?": {
      "main": [
        [{"node": "HubSpot — Create Hot Lead", "type": "main", "index": 0}],
        [{"node": "HubSpot — Create Nurture Lead", "type": "main", "index": 0}]
      ]
    },
    "HubSpot — Create Hot Lead": {
      "main": [[{"node": "Slack — Alert Agent", "type": "main", "index": 0}]]
    },
    "HubSpot — Create Nurture Lead": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "pinData": {},
  "versionId": "v1-ai-lead-scoring",
  "triggerCount": 0,
  "tags": [
    {"id": "tag-real-estate", "name": "real-estate"},
    {"id": "tag-ai", "name": "ai"},
    {"id": "tag-leads", "name": "lead-management"}
  ]
}
