cross-platform/02-ecommerce-intelligence/n8n-segment.json
{
  "name": "Bridge 02: Fraud Detection Segment",
  "nodes": [
    {
      "id": "bridge-02-node-01",
      "name": "Webhook — From Zapier",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "bridge-fraud-detection",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "bridge-02-webhook"
    },
    {
      "id": "bridge-02-node-02",
      "name": "Code — Calculate Risk Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "jsCode": "const order = $input.item.json.body;\n\nconst signals = [];\nlet riskScore = 0;\n\n// Signal 1: Billing/shipping city mismatch\nif (order.billing_city && order.shipping_city && order.billing_city !== order.shipping_city) {\n  signals.push('Billing/shipping city mismatch');\n  riskScore += 2;\n}\n\n// Signal 2: Billing/shipping country mismatch\nif (order.billing_country && order.shipping_country && order.billing_country !== order.shipping_country) {\n  signals.push('Billing/shipping country mismatch (international)');\n  riskScore += 3;\n}\n\n// Signal 3: Suspicious email domain\nconst email = order.customer_email || '';\nconst suspiciousDomains = ['mailinator.com', 'guerrillamail.com', 'tempmail.com', 'throwam.com', 'yopmail.com'];\nconst emailDomain = email.split('@')[1] || '';\nif (suspiciousDomains.includes(emailDomain)) {\n  signals.push(`Suspicious email domain: ${emailDomain}`);\n  riskScore += 5;\n}\n\n// Signal 4: Very high order value (>$2000)\nconst price = parseFloat(order.total_price) || 0;\nif (price > 2000) {\n  signals.push(`Unusually high order value: $${price}`);\n  riskScore += 2;\n}\n\n// Determine risk level\nlet riskLevel;\nif (riskScore >= 5) riskLevel = 'HIGH';\nelse if (riskScore >= 2) riskLevel = 'MEDIUM';\nelse riskLevel = 'LOW';\n\nreturn {\n  ...order,\n  risk_signals: signals,\n  risk_score: riskScore,\n  risk_level: riskLevel,\n  analyzed_at: new Date().toISOString()\n};"
      }
    },
    {
      "id": "bridge-02-node-03",
      "name": "OpenAI — Interpret Risk",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an e-commerce fraud analyst. Review these order risk signals and provide a recommendation.\n\nOrder: #{{ $json.order_number }}\nCustomer: {{ $json.customer_email }}\nTotal: ${{ $json.total_price }}\nRisk signals detected: {{ $json.risk_signals.join(', ') || 'None' }}\nRisk score: {{ $json.risk_score }}/10\n\nReturn ONLY valid JSON:\n{\"risk_level\": \"LOW\", \"recommendation\": \"auto_approve\", \"reasoning\": \"No significant risk signals detected\", \"action\": \"Process normally\"}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {"id": "1", "name": "OpenAI API"}
      }
    },
    {
      "id": "bridge-02-node-04",
      "name": "Code — Parse Risk Assessment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "jsCode": "const aiText = $input.item.json.choices[0].message.content;\nlet assessment;\ntry {\n  const m = aiText.match(/\\{[\\s\\S]*\\}/);\n  assessment = m ? JSON.parse(m[0]) : {};\n} catch(e) {\n  assessment = { risk_level: 'MEDIUM', recommendation: 'manual_review', reasoning: 'AI parse error', action: 'Manual review required' };\n}\n\nreturn { ...$('Code — Calculate Risk Signals').item.json, ai_assessment: assessment };"
      }
    },
    {
      "id": "bridge-02-node-05",
      "name": "IF — High Risk?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.ai_assessment.risk_level }}",
              "rightValue": "HIGH",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "bridge-02-node-06a",
      "name": "Slack — High Risk Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1440, 200],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "#fraud-alerts",
          "mode": "name"
        },
        "text": "=HIGH RISK ORDER DETECTED\n\nOrder: #{{ $json.order_number }}\nCustomer: {{ $json.customer_email }}\nTotal: ${{ $json.total_price }}\n\nRisk Signals: {{ $json.risk_signals.join(', ') }}\nRisk Score: {{ $json.risk_score }}/10\n\nAI Reasoning: {{ $json.ai_assessment.reasoning }}\nRecommended Action: {{ $json.ai_assessment.action }}\n\nManual review required before fulfilling this order.",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {"id": "3", "name": "Slack API"}
      }
    },
    {
      "id": "bridge-02-node-06b",
      "name": "HTTP — POST to Make (Approved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 400],
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu1.make.com/YOUR_MAKE_WEBHOOK_URL",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "bridge-02-node-07",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"analyzed\", \"risk_level\": \"{{ $('Code — Parse Risk Assessment').item.json.ai_assessment.risk_level }}\", \"order\": \"{{ $('Code — Parse Risk Assessment').item.json.order_number }}\" }"
      }
    }
  ],
  "connections": {
    "Webhook — From Zapier": {
      "main": [[{"node": "Code — Calculate Risk Signals", "type": "main", "index": 0}]]
    },
    "Code — Calculate Risk Signals": {
      "main": [[{"node": "OpenAI — Interpret Risk", "type": "main", "index": 0}]]
    },
    "OpenAI — Interpret Risk": {
      "main": [[{"node": "Code — Parse Risk Assessment", "type": "main", "index": 0}]]
    },
    "Code — Parse Risk Assessment": {
      "main": [[{"node": "IF — High Risk?", "type": "main", "index": 0}]]
    },
    "IF — High Risk?": {
      "main": [
        [{"node": "Slack — High Risk Alert", "type": "main", "index": 0}],
        [{"node": "HTTP — POST to Make (Approved)", "type": "main", "index": 0}]
      ]
    },
    "Slack — High Risk Alert": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "HTTP — POST to Make (Approved)": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false, "instanceId": ""},
  "pinData": {},
  "versionId": "v1-bridge-02-n8n",
  "triggerCount": 0,
  "tags": [
    {"id": "tag-bridge", "name": "cross-platform"},
    {"id": "tag-ecommerce", "name": "e-commerce"},
    {"id": "tag-fraud", "name": "fraud-detection"}
  ]
}
