make/blueprints/04-insurance-verification/blueprint.json
{
  "name": "Insurance Verification — Healthcare",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": null
      },
      "mapper": {},
      "metadata": {
        "designer": {"x": -46, "y": 47}
      }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {
        "handleErrors": true
      },
      "mapper": {
        "url": "https://api.insuranceverification.example.com/v1/verify",
        "method": "POST",
        "headers": [
          {
            "name": "Authorization",
            "value": "Bearer {{connection.apiKey}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "body": "{\"member_id\": \"{{1.member_id}}\", \"dob\": \"{{1.date_of_birth}}\", \"insurance_provider\": \"{{1.insurance_provider}}\", \"provider_npi\": \"{{1.provider_npi}}\"}",
        "parseResponse": true
      },
      "metadata": {
        "designer": {"x": 254, "y": 47}
      }
    },
    {
      "id": 3,
      "module": "google-sheets:AddRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "YOUR_SPREADSHEET_ID",
        "sheetId": "Insurance Log"
      },
      "mapper": {
        "values": {
          "A": "{{1.patient_name}}",
          "B": "{{1.patient_email}}",
          "C": "{{1.insurance_provider}}",
          "D": "{{1.member_id}}",
          "E": "{{2.data.status}}",
          "F": "{{2.data.coverage_percentage}}",
          "G": "{{2.data.deductible_remaining}}",
          "H": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
        }
      },
      "metadata": {
        "designer": {"x": 554, "y": 47}
      }
    },
    {
      "id": 4,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": {"x": 854, "y": 47}
      },
      "routes": [
        {
          "flow": [
            {
              "id": 5,
              "module": "gmail:ActionSendEmail",
              "version": 1,
              "parameters": {},
              "mapper": {
                "to": "{{1.patient_email}}",
                "subject": "Insurance Verified — Your Appointment is Confirmed",
                "html": "<h2>Good news, {{1.patient_name}}!</h2><p>Your insurance coverage has been verified.</p><ul><li><strong>Insurance Provider:</strong> {{1.insurance_provider}}</li><li><strong>Coverage:</strong> {{2.data.coverage_percentage}}%</li><li><strong>Remaining Deductible:</strong> ${{2.data.deductible_remaining}}</li></ul><p>Your appointment is confirmed. We'll see you soon!</p>"
              },
              "metadata": {"designer": {"x": 1154, "y": -100}},
              "filter": {
                "name": "Verified",
                "conditions": [
                  {
                    "a": "{{2.data.status}}",
                    "b": "verified",
                    "o": "text:equal"
                  }
                ]
              }
            },
            {
              "id": 6,
              "module": "slack:CreateMessage",
              "version": 1,
              "parameters": {},
              "mapper": {
                "channel": "#verified-patients",
                "text": "Insurance VERIFIED\nPatient: {{1.patient_name}}\nProvider: {{1.insurance_provider}}\nCoverage: {{2.data.coverage_percentage}}%\nDeductible remaining: ${{2.data.deductible_remaining}}"
              },
              "metadata": {"designer": {"x": 1454, "y": -100}}
            }
          ]
        },
        {
          "flow": [
            {
              "id": 7,
              "module": "gmail:ActionSendEmail",
              "version": 1,
              "parameters": {},
              "mapper": {
                "to": "{{1.patient_email}}",
                "subject": "Action Required: Insurance Information Needed",
                "html": "<h2>Hi {{1.patient_name}},</h2><p>We were unable to verify your insurance information automatically.</p><p>Please call us at (02) 8XXX-XXXX or reply to this email with your updated insurance card so we can assist you.</p><p>Your appointment is currently pending insurance confirmation.</p>"
              },
              "metadata": {"designer": {"x": 1154, "y": 200}},
              "filter": {
                "name": "Pending or Denied",
                "conditions": [
                  {
                    "a": "{{2.data.status}}",
                    "b": "verified",
                    "o": "text:notEqual"
                  }
                ]
              }
            },
            {
              "id": 8,
              "module": "slack:CreateMessage",
              "version": 1,
              "parameters": {},
              "mapper": {
                "channel": "#insurance-review",
                "text": "Insurance PENDING REVIEW\nPatient: {{1.patient_name}}\nEmail: {{1.patient_email}}\nProvider: {{1.insurance_provider}}\nStatus: {{2.data.status}}\nAction needed: Manual verification required"
              },
              "metadata": {"designer": {"x": 1454, "y": 200}}
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "dataloss": false
    }
  }
}
