n8n/workflows/03-client-onboarding/workflow.json
{
  "name": "Client Onboarding — Agency",
  "nodes": [
    {
      "id": "node-01",
      "name": "Webhook — Contract Signed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "client-onboarding",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "onboarding-webhook-01"
    },
    {
      "id": "node-02",
      "name": "Notion — Create Client Workspace",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_CLIENTS_DATABASE_ID",
          "mode": "id"
        },
        "title": "={{ $json.body.client_name }} — Client Workspace",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Client Name",
              "textValue": "={{ $json.body.client_name }}"
            },
            {
              "key": "Email",
              "textValue": "={{ $json.body.client_email }}"
            },
            {
              "key": "Package",
              "selectValue": "={{ $json.body.package }}"
            },
            {
              "key": "Start Date",
              "dateValue": "={{ $json.body.start_date }}"
            },
            {
              "key": "Status",
              "selectValue": "Onboarding"
            }
          ]
        }
      },
      "credentials": {
        "notionApi": {
          "id": "6",
          "name": "Notion API"
        }
      }
    },
    {
      "id": "node-03",
      "name": "Slack — Create Client Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "resource": "channel",
        "operation": "create",
        "channelId": "=client-{{ $('Webhook — Contract Signed').item.json.body.client_name.toLowerCase().replace(/\\s+/g, '-') }}",
        "options": {
          "isPrivate": true
        }
      },
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack API"
        }
      }
    },
    {
      "id": "node-04",
      "name": "Slack — Post Welcome Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": {
          "__rl": true,
          "value": "={{ $('Slack — Create Client Channel').item.json.channel.id }}",
          "mode": "id"
        },
        "text": "=Welcome to your dedicated channel, {{ $('Webhook — Contract Signed').item.json.body.client_name }}!\n\nWe're excited to start working together. Here's what happens next:\n• Your project workspace has been created in Notion\n• Your project in Asana has been set up\n• Your account manager will be in touch within 24 hours\n\nYour package: *{{ $('Webhook — Contract Signed').item.json.body.package }}*\nStart date: *{{ $('Webhook — Contract Signed').item.json.body.start_date }}*",
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": {
          "id": "3",
          "name": "Slack API"
        }
      }
    },
    {
      "id": "node-05",
      "name": "Gmail — Send Welcome Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1200, 200],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toList": "={{ $('Webhook — Contract Signed').item.json.body.client_email }}",
        "subject": "=Welcome to the team, {{ $('Webhook — Contract Signed').item.json.body.client_name }}!",
        "message": "=Hi {{ $('Webhook — Contract Signed').item.json.body.client_name }},\n\nThank you for choosing us! We're thrilled to have you on board.\n\nHere's what we've set up for you:\n✅ Your project workspace in Notion\n✅ Your dedicated Slack channel\n✅ Your project in Asana\n\nYour package: {{ $('Webhook — Contract Signed').item.json.body.package }}\nProject start date: {{ $('Webhook — Contract Signed').item.json.body.start_date }}\n\nYour account manager will reach out within 24 hours to schedule your kickoff call.\n\nExcited to work together,\nThe Team",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "5",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "id": "node-06",
      "name": "Asana — Create Project",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [1200, 400],
      "parameters": {
        "resource": "project",
        "operation": "create",
        "name": "={{ $('Webhook — Contract Signed').item.json.body.client_name }} — {{ $('Webhook — Contract Signed').item.json.body.package }}",
        "color": "light-green",
        "notes": "=Client: {{ $('Webhook — Contract Signed').item.json.body.client_name }}\nEmail: {{ $('Webhook — Contract Signed').item.json.body.client_email }}\nPackage: {{ $('Webhook — Contract Signed').item.json.body.package }}\nStart: {{ $('Webhook — Contract Signed').item.json.body.start_date }}"
      },
      "credentials": {
        "asanaApi": {
          "id": "7",
          "name": "Asana API"
        }
      }
    },
    {
      "id": "node-07",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Client onboarding initiated for {{ $('Webhook — Contract Signed').item.json.body.client_name }}\" }"
      }
    }
  ],
  "connections": {
    "Webhook — Contract Signed": {
      "main": [[{"node": "Notion — Create Client Workspace", "type": "main", "index": 0}]]
    },
    "Notion — Create Client Workspace": {
      "main": [[{"node": "Slack — Create Client Channel", "type": "main", "index": 0}]]
    },
    "Slack — Create Client Channel": {
      "main": [[{"node": "Slack — Post Welcome Message", "type": "main", "index": 0}]]
    },
    "Slack — Post Welcome Message": {
      "main": [
        [{"node": "Gmail — Send Welcome Email", "type": "main", "index": 0}],
        [{"node": "Asana — Create Project", "type": "main", "index": 0}]
      ]
    },
    "Gmail — Send Welcome Email": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false, "instanceId": ""},
  "pinData": {},
  "versionId": "v1-client-onboarding",
  "triggerCount": 0,
  "tags": [
    {"id": "tag-agency", "name": "agency"},
    {"id": "tag-onboarding", "name": "onboarding"}
  ]
}
