n8n/workflows/05-ai-content-pipeline/workflow.json
{
  "name": "AI Content Pipeline — Agency",
  "nodes": [
    {
      "id": "node-01",
      "name": "Webhook — Content Brief",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "content-pipeline",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "content-webhook-01"
    },
    {
      "id": "node-02",
      "name": "OpenAI — Generate Variants",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a social media content specialist. Create 3 distinct content variants for the following brief.\n\nBrief:\n- Topic: {{ $json.body.topic }}\n- Brand tone: {{ $json.body.tone }}\n- Target audience: {{ $json.body.audience }}\n- Platform: {{ $json.body.platform }}\n- Key message: {{ $json.body.key_message }}\n- Call to action: {{ $json.body.cta }}\n\nReturn ONLY valid JSON:\n{\n  \"variants\": [\n    {\n      \"id\": 1,\n      \"caption\": \"...\",\n      \"hashtags\": \"#tag1 #tag2 #tag3\",\n      \"character_count\": 150,\n      \"angle\": \"Educational\"\n    },\n    {\n      \"id\": 2,\n      \"caption\": \"...\",\n      \"hashtags\": \"#tag1 #tag2\",\n      \"character_count\": 120,\n      \"angle\": \"Storytelling\"\n    },\n    {\n      \"id\": 3,\n      \"caption\": \"...\",\n      \"hashtags\": \"#tag1 #tag2 #tag3 #tag4\",\n      \"character_count\": 200,\n      \"angle\": \"Direct CTA\"\n    }\n  ]\n}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {
          "id": "1",
          "name": "OpenAI API"
        }
      }
    },
    {
      "id": "node-03",
      "name": "Code — Parse Variants",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json.choices[0].message.content;\nlet parsed;\ntry {\n  const match = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : { variants: [] };\n} catch(e) {\n  parsed = { variants: [] };\n}\n\nconst brief = $('Webhook — Content Brief').item.json.body;\n\nreturn parsed.variants.map(v => ({\n  ...v,\n  topic: brief.topic,\n  platform: brief.platform,\n  tone: brief.tone,\n  created_at: new Date().toISOString(),\n  status: 'Draft'\n}));"
      }
    },
    {
      "id": "node-04",
      "name": "Google Sheets — Log Content",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [960, 300],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Content Calendar",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $json.topic }}",
            "Platform": "={{ $json.platform }}",
            "Variant": "={{ $json.id }}",
            "Angle": "={{ $json.angle }}",
            "Caption": "={{ $json.caption }}",
            "Hashtags": "={{ $json.hashtags }}",
            "Characters": "={{ $json.character_count }}",
            "Status": "={{ $json.status }}",
            "Created": "={{ $json.created_at }}"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "11",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "id": "node-05",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1200, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "node-06",
      "name": "HTTP Request — Buffer Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.bufferapp.com/1/updates/create.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "bufferOAuth2Api",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "profile_ids[]",
              "value": "YOUR_BUFFER_PROFILE_ID"
            },
            {
              "name": "text",
              "value": "={{ $json.caption }} {{ $json.hashtags }}"
            },
            {
              "name": "scheduled_at",
              "value": "={{ DateTime.now().plus({days: $json.id}).toISO() }}"
            }
          ]
        }
      }
    },
    {
      "id": "node-07",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1680, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"variants_created\": 3, \"platform\": \"{{ $('Webhook — Content Brief').item.json.body.platform }}\" }"
      }
    }
  ],
  "connections": {
    "Webhook — Content Brief": {
      "main": [[{"node": "OpenAI — Generate Variants", "type": "main", "index": 0}]]
    },
    "OpenAI — Generate Variants": {
      "main": [[{"node": "Code — Parse Variants", "type": "main", "index": 0}]]
    },
    "Code — Parse Variants": {
      "main": [[{"node": "Google Sheets — Log Content", "type": "main", "index": 0}]]
    },
    "Google Sheets — Log Content": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [[{"node": "HTTP Request — Buffer Schedule", "type": "main", "index": 0}]]
    },
    "HTTP Request — Buffer Schedule": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false, "instanceId": ""},
  "pinData": {},
  "versionId": "v1-ai-content-pipeline",
  "triggerCount": 0,
  "tags": [
    {"id": "tag-agency", "name": "agency"},
    {"id": "tag-ai", "name": "ai"},
    {"id": "tag-content", "name": "content-marketing"}
  ]
}
