platform-comparison/n8n/appointment-reminder.json
{
  "name": "Appointment Reminder — Platform Comparison (n8n)",
  "nodes": [
    {
      "id": "cmp-node-01",
      "name": "Calendly Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "calendly-webhook",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "cmp-calendly-webhook"
    },
    {
      "id": "cmp-node-02",
      "name": "Google Sheets — Log Appointment",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [480, 300],
      "parameters": {
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Appointments",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.body.invitee.name }}",
            "Email": "={{ $json.body.invitee.email }}",
            "Event": "={{ $json.body.event_type.name }}",
            "Start Time": "={{ $json.body.event.start_time }}",
            "Status": "Confirmed",
            "Booked At": "={{ $now.toISO() }}"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "11",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "id": "cmp-node-03",
      "name": "Wait — 24h Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [720, 300],
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Calendly Trigger').item.json.body.event.start_time).minus({hours: 24}).toISO() }}"
      }
    },
    {
      "id": "cmp-node-04",
      "name": "Gmail — 24h Email Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toList": "={{ $('Calendly Trigger').item.json.body.invitee.email }}",
        "subject": "Reminder: Your appointment is tomorrow",
        "message": "=Hi {{ $('Calendly Trigger').item.json.body.invitee.name }},\n\nThis is a reminder that your appointment is scheduled for tomorrow.\n\nEvent: {{ $('Calendly Trigger').item.json.body.event_type.name }}\nTime: {{ $('Calendly Trigger').item.json.body.event.start_time }}\n\nLocation/Link: {{ $('Calendly Trigger').item.json.body.event.location.join_url || $('Calendly Trigger').item.json.body.event.location.location }}\n\nNeed to reschedule? Click here: {{ $('Calendly Trigger').item.json.body.invitee.reschedule_url }}\n\nSee you tomorrow!",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "5",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "id": "cmp-node-05",
      "name": "Wait — 1h Before",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Calendly Trigger').item.json.body.event.start_time).minus({hours: 1}).toISO() }}"
      }
    },
    {
      "id": "cmp-node-06",
      "name": "Twilio — 1h SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1440, 300],
      "parameters": {
        "operation": "send",
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Calendly Trigger').item.json.body.invitee.phone_number }}",
        "message": "=Reminder: Your appointment \"{{ $('Calendly Trigger').item.json.body.event_type.name }}\" is in 1 hour. See you soon! Reply STOP to opt out."
      },
      "credentials": {
        "twilioApi": {
          "id": "10",
          "name": "Twilio API"
        }
      }
    }
  ],
  "connections": {
    "Calendly Trigger": {
      "main": [[{"node": "Google Sheets — Log Appointment", "type": "main", "index": 0}]]
    },
    "Google Sheets — Log Appointment": {
      "main": [[{"node": "Wait — 24h Before", "type": "main", "index": 0}]]
    },
    "Wait — 24h Before": {
      "main": [[{"node": "Gmail — 24h Email Reminder", "type": "main", "index": 0}]]
    },
    "Gmail — 24h Email Reminder": {
      "main": [[{"node": "Wait — 1h Before", "type": "main", "index": 0}]]
    },
    "Wait — 1h Before": {
      "main": [[{"node": "Twilio — 1h SMS Reminder", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false, "instanceId": ""},
  "pinData": {},
  "versionId": "v1-appt-reminder-n8n",
  "triggerCount": 0,
  "tags": [
    {"id": "tag-comparison", "name": "platform-comparison"},
    {"id": "tag-healthcare", "name": "healthcare"}
  ]
}
