n8n/workflows/04-appointment-management/workflow.json
{
  "name": "Appointment Management — Healthcare",
  "nodes": [
    {
      "id": "node-01",
      "name": "Typeform — New Patient Form",
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "formId": "YOUR_TYPEFORM_FORM_ID"
      },
      "webhookId": "typeform-appt-01",
      "credentials": {
        "typeformApi": {
          "id": "8",
          "name": "Typeform API"
        }
      }
    },
    {
      "id": "node-02",
      "name": "Google Calendar — Create Appointment",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendarId": {
          "__rl": true,
          "value": "primary",
          "mode": "list"
        },
        "start": "={{ $json.answers.find(a => a.field.ref === 'appointment_date').date }}T{{ $json.answers.find(a => a.field.ref === 'appointment_time').text }}:00",
        "end": "={{ $json.answers.find(a => a.field.ref === 'appointment_date').date }}T{{ $json.answers.find(a => a.field.ref === 'appointment_time').text.replace(/^(\\d+):(\\d+)$/, (_, h, m) => `${String(parseInt(h)+1).padStart(2,'0')}:${m}`) }}:00",
        "additionalFields": {
          "summary": "=Appointment: {{ $json.answers.find(a => a.field.ref === 'patient_name').text }}",
          "description": "=Patient: {{ $json.answers.find(a => a.field.ref === 'patient_name').text }}\nEmail: {{ $json.answers.find(a => a.field.ref === 'patient_email').email }}\nPhone: {{ $json.answers.find(a => a.field.ref === 'patient_phone').phone_number }}\nReason: {{ $json.answers.find(a => a.field.ref === 'visit_reason').text }}",
          "attendees": "={{ $json.answers.find(a => a.field.ref === 'patient_email').email }}"
        }
      },
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9",
          "name": "Google Calendar OAuth"
        }
      }
    },
    {
      "id": "node-03",
      "name": "Gmail — Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toList": "={{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'patient_email').email }}",
        "subject": "Appointment Confirmed — Please Save the Date",
        "message": "=Hi {{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'patient_name').text }},\n\nYour appointment has been confirmed.\n\nDate: {{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_date').date }}\nTime: {{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_time').text }}\nReason: {{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'visit_reason').text }}\n\nWhat to bring:\n• Valid ID\n• Insurance card (if applicable)\n• List of current medications\n\nYou will receive a reminder 24 hours before your appointment.\n\nIf you need to reschedule, please contact us at least 24 hours in advance.\n\nSee you soon!",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "5",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "id": "node-04",
      "name": "Wait — 24h Before Appointment",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [960, 300],
      "parameters": {
        "unit": "hours",
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_date').date + 'T' + $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_time').text + ':00').minus({hours: 24}).toISO() }}"
      }
    },
    {
      "id": "node-05",
      "name": "Twilio — 24h SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1200, 300],
      "parameters": {
        "operation": "send",
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'patient_phone').phone_number }}",
        "message": "=Reminder: You have an appointment tomorrow at {{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_time').text }}. Please bring your ID and insurance card. Reply STOP to opt out."
      },
      "credentials": {
        "twilioApi": {
          "id": "10",
          "name": "Twilio API"
        }
      }
    },
    {
      "id": "node-06",
      "name": "Wait — 1h Before Appointment",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1440, 300],
      "parameters": {
        "unit": "hours",
        "resume": "specificTime",
        "dateTime": "={{ DateTime.fromISO($('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_date').date + 'T' + $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_time').text + ':00').minus({hours: 1}).toISO() }}"
      }
    },
    {
      "id": "node-07",
      "name": "Twilio — 1h SMS Reminder",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1680, 300],
      "parameters": {
        "operation": "send",
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'patient_phone').phone_number }}",
        "message": "=Your appointment is in 1 hour at {{ $('Typeform — New Patient Form').item.json.answers.find(a => a.field.ref === 'appointment_time').text }}. See you soon!"
      },
      "credentials": {
        "twilioApi": {
          "id": "10",
          "name": "Twilio API"
        }
      }
    }
  ],
  "connections": {
    "Typeform — New Patient Form": {
      "main": [[{"node": "Google Calendar — Create Appointment", "type": "main", "index": 0}]]
    },
    "Google Calendar — Create Appointment": {
      "main": [[{"node": "Gmail — Confirmation Email", "type": "main", "index": 0}]]
    },
    "Gmail — Confirmation Email": {
      "main": [[{"node": "Wait — 24h Before Appointment", "type": "main", "index": 0}]]
    },
    "Wait — 24h Before Appointment": {
      "main": [[{"node": "Twilio — 24h SMS Reminder", "type": "main", "index": 0}]]
    },
    "Twilio — 24h SMS Reminder": {
      "main": [[{"node": "Wait — 1h Before Appointment", "type": "main", "index": 0}]]
    },
    "Wait — 1h Before Appointment": {
      "main": [[{"node": "Twilio — 1h SMS Reminder", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false, "instanceId": ""},
  "pinData": {},
  "versionId": "v1-appointment-management",
  "triggerCount": 0,
  "tags": [
    {"id": "tag-healthcare", "name": "healthcare"},
    {"id": "tag-appointments", "name": "appointments"}
  ]
}
