cross-platform/01-full-funnel-lead-management/make-segment.json
{
  "name": "Bridge 01: BI Reporting Segment",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {"hook": null},
      "mapper": {},
      "metadata": {"designer": {"x": -46, "y": 47}}
    },
    {
      "id": 2,
      "module": "google-sheets:AddRow",
      "version": 2,
      "parameters": {
        "spreadsheetId": "YOUR_SPREADSHEET_ID",
        "sheetId": "All Leads"
      },
      "mapper": {
        "values": {
          "A": "{{1.name}}",
          "B": "{{1.email}}",
          "C": "{{1.phone}}",
          "D": "{{1.budget}}",
          "E": "{{1.score}}",
          "F": "{{1.priority}}",
          "G": "{{1.reasoning}}",
          "H": "{{1.recommended_action}}",
          "I": "{{1.source}}",
          "J": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
        }
      },
      "metadata": {"designer": {"x": 254, "y": 47}}
    },
    {
      "id": 3,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {"designer": {"x": 554, "y": 47}},
      "routes": [
        {
          "flow": [
            {
              "id": 4,
              "module": "google-sheets:AddRow",
              "version": 2,
              "parameters": {
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "sheetId": "Hot Leads"
              },
              "mapper": {
                "values": {
                  "A": "{{1.name}}",
                  "B": "{{1.email}}",
                  "C": "{{1.phone}}",
                  "D": "{{1.budget}}",
                  "E": "{{1.score}}",
                  "F": "{{1.reasoning}}",
                  "G": "{{1.recommended_action}}",
                  "H": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}"
                }
              },
              "metadata": {"designer": {"x": 854, "y": -100}},
              "filter": {
                "name": "Hot lead",
                "conditions": [{"a": "{{1.priority}}", "b": "hot", "o": "text:equal"}]
              }
            },
            {
              "id": 5,
              "module": "slack:CreateMessage",
              "version": 1,
              "parameters": {},
              "mapper": {
                "channel": "#hot-leads",
                "text": "HOT LEAD — Score: {{1.score}}/10\n\nName: {{1.name}}\nEmail: {{1.email}}\nPhone: {{1.phone}}\nBudget: {{1.budget}}\nTimeline: {{1.timeline}}\n\nAI Assessment: {{1.reasoning}}\nAction: {{1.recommended_action}}"
              },
              "metadata": {"designer": {"x": 1154, "y": -100}}
            }
          ]
        },
        {
          "flow": [
            {
              "id": 6,
              "module": "google-sheets:AddRow",
              "version": 2,
              "parameters": {
                "spreadsheetId": "YOUR_SPREADSHEET_ID",
                "sheetId": "Nurture Leads"
              },
              "mapper": {
                "values": {
                  "A": "{{1.name}}",
                  "B": "{{1.email}}",
                  "C": "{{1.budget}}",
                  "D": "{{1.score}}",
                  "E": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                  "F": "Nurture Sequence"
                }
              },
              "metadata": {"designer": {"x": 854, "y": 200}},
              "filter": {
                "name": "Nurture lead",
                "conditions": [{"a": "{{1.priority}}", "b": "hot", "o": "text:notEqual"}]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "dataloss": false
    }
  }
}
