cross-platform/01-full-funnel-lead-management/n8n-segment.json
{
  "name": "Bridge 01: AI Lead Qualification Segment",
  "nodes": [
    {
      "id": "bridge-01-node-01",
      "name": "Webhook — From Zapier",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "bridge-lead-qualification",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "bridge-01-webhook"
    },
    {
      "id": "bridge-01-node-02",
      "name": "OpenAI — Score and Draft",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [480, 300],
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a real estate lead qualification specialist.\n\nScore this lead 1-10 and draft a personalized opening email.\n\nLead: {{ $json.body.name }}\nBudget: {{ $json.body.budget }}\nTimeline: {{ $json.body.timeline }}\nProperty: {{ $json.body.property_type }}\nMessage: {{ $json.body.message }}\n\nReturn ONLY valid JSON:\n{\"score\": 9, \"priority\": \"hot\", \"reasoning\": \"...\", \"recommended_action\": \"...\", \"draft_email\": \"Hi {{ $json.body.name.split(' ')[0] }},...\"}",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "openAiApi": {"id": "1", "name": "OpenAI API"}
      }
    },
    {
      "id": "bridge-01-node-03",
      "name": "Code — Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "jsCode": "const aiText = $input.item.json.choices[0].message.content;\nlet ai;\ntry {\n  const m = aiText.match(/\\{[\\s\\S]*\\}/);\n  ai = m ? JSON.parse(m[0]) : {};\n} catch(e) { ai = { score: 5, priority: 'warm', reasoning: 'parse error', recommended_action: 'manual review', draft_email: '' }; }\n\nconst lead = $('Webhook — From Zapier').item.json.body;\nreturn { ...lead, ...ai, scored_at: new Date().toISOString() };"
      }
    },
    {
      "id": "bridge-01-node-04",
      "name": "IF — Hot or Nurture?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.score }}",
              "rightValue": 7,
              "operator": {"type": "number", "operation": "gte"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "bridge-01-node-05a",
      "name": "HTTP — POST to Make (Hot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 200],
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu1.make.com/YOUR_MAKE_HOT_WEBHOOK",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "bridge-01-node-05b",
      "name": "HTTP — POST to Make (Nurture)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1200, 400],
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu1.make.com/YOUR_MAKE_NURTURE_WEBHOOK",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}"
      }
    },
    {
      "id": "bridge-01-node-06",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"processed\", \"score\": {{ $('Code — Parse AI Output').item.json.score }}, \"priority\": \"{{ $('Code — Parse AI Output').item.json.priority }}\" }"
      }
    }
  ],
  "connections": {
    "Webhook — From Zapier": {
      "main": [[{"node": "OpenAI — Score and Draft", "type": "main", "index": 0}]]
    },
    "OpenAI — Score and Draft": {
      "main": [[{"node": "Code — Parse AI Output", "type": "main", "index": 0}]]
    },
    "Code — Parse AI Output": {
      "main": [[{"node": "IF — Hot or Nurture?", "type": "main", "index": 0}]]
    },
    "IF — Hot or Nurture?": {
      "main": [
        [{"node": "HTTP — POST to Make (Hot)", "type": "main", "index": 0}],
        [{"node": "HTTP — POST to Make (Nurture)", "type": "main", "index": 0}]
      ]
    },
    "HTTP — POST to Make (Hot)": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    },
    "HTTP — POST to Make (Nurture)": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false, "instanceId": ""},
  "pinData": {},
  "versionId": "v1-bridge-01-n8n",
  "triggerCount": 0,
  "tags": [
    {"id": "tag-bridge", "name": "cross-platform"},
    {"id": "tag-real-estate", "name": "real-estate"},
    {"id": "tag-ai", "name": "ai"}
  ]
}
